@font-face {
    font-family: 'estedad';
    src: url("../fonts/Estedad-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'vazirmatn';
    src: url("../fonts/Vazirmatn-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'playfair';
    src: url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

/*-- Header --*/

.header-area {
    width: 100%;
    background-color: #1B120D;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 40px 50px;

}

.logo {
    font-family: 'playfair', cursive;
    font-weight: 800;
    font-size: 35px;
    color: #ffffff;
}

.logo i {
    color: #f5c035;
    padding-right: 15px;
}

.icons {
    color: #ffffff;
    font-size: 25px;
}

.icons i {
    padding-right: 25px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.icons i:hover {
    color: #f5c035;
}

.menu {
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin-bottom: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'vazirmatn', cursive;
    font-weight: 600;
    font-size: 18px;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #f5c035;
}

.banner {
    position: relative;
}

.banner-img img {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

.banner-text h3 {
    color: #ffffff;
    font-weight: 800;
    font-size: 25px;
    font-family: 'estedad', cursive;
}

.banner-text h1 {
    color: #f5c035;
    font-family: 'estedad', cursive;
    font-weight: bolder;
    font-size: 40px;
    margin: 30px;
}

.banner-text p {
    color: #afafaf;
    font-family: 'estedad', cursive;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 30px;
}

.header-btn {
    font-family: 'estedad', cursive;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header-btn:hover {
    background-color: #a60000;
}

/*-- Main Content --*/

.main-content {
    margin: 70px auto;
    width: 80%;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-card {
    width: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.text-img {
    position: absolute;
    font-family: 'vazirmatn', cursive;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 50px;
    text-align: center;
    border-radius: 10px;
}

.text-img button {
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-family: 'vazirmatn', cursive;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 5px;
}

.img-card-about {
    width: 70%;
}

.main-about {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.card-text-about {
    width: 50%;
    background-color: #1B120D;
    color: white;
    font-family: 'vazirmatn', cursive;
    font-weight: bold;
    font-size: 15px;
    height: 250px;
    padding: 20px 40px;
    position: absolute;
    top: 90px;
    right: 650px;
    border-radius: 5px;
}

.card-text-about h4 {
    color: #f5c035;
    margin-bottom: 15px;
    font-size: 25px;
}

.card-text-about h1 {
    font-family: 'playfair', cursive;
    margin-bottom: 20px;
}

.card-text-about i {
    color: #f5c035;
    padding-right: 10px;
}

.card-text-about p {
    color: #afafaf;
    line-height: 1.7rem;
}

.img-card-about {
    width: 79%;
    position: relative;
    padding-right: 42px;
}

.our-product-area {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.our-product {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.our-product i {
    color: #f5c035;
    font-size: 65px;
    margin-bottom: 20px;
}

.our-product-title {
    font-family: 'vazirmatn', cursive;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
}

.our-product-description {
    font-family: 'vazirmatn', cursive;
    color: #afafaf;
    font-size: 20px;
}

.our-products-carusel {
    display: flex;
    align-items: center;
    width: 100%;
}

.our-products-carusel img {
    width: 100%;
}

.card-product {
    width: 250px;
    height: 250px;
    background-color: #afafaf;
    margin: 20px;
}

.card-product img {
    padding: 30px 20px;
}

/*-- Special --*/

.photo-area {
    display: flex;
    position: relative;
}

.photo-area img {
    width: 50%;
    margin-left: 40px;
}

.special-text {
    width: 50%;
    padding: 40px 80px;
}

.special-text h2 {
    color: #1B120D;
    font-family: 'vazirmatn', cursive;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
}

.special-text p {
    color: #afafaf;
    line-height: 1.7rem;
    font-size: 15px;
    font-family: 'vazirmatn', cursive;
    margin: 20px 0;
}

.special-text h3 {
    font-family: 'vazirmatn', cursive;
    color: #f5c035;
}

.special-text button {
    background-color: red;
    color: white;
    font-family: 'vazirmatn', cursive;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.photo-area2 {
    display: flex;
}

.special-text2 {
    margin-top: 50px;
    width: 60%;
    height: 620px;
    background-color: #1B120D;
    color: white;
    margin-right: 200px;
    padding: 40px 80px 40px 420px;
}

.special-text2 h3 {
    color: #f5c035;
    font-family: 'vazirmatn', cursive;
}

.special-text2 h2 {
    font-family: 'vazirmatn', cursive;
margin-top: 20px;
    font-size: 30px;
}

.special-text2 p {
    margin-top: 20px;
    color: #afafaf;
    line-height: 2.3rem;
    font-size: 15px;
    font-family: 'vazirmatn', cursive;
}

.photo-area2 img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 2900px;
}


.special-text2 button {
    background-color: red;
    color: white;
    font-family: 'vazirmatn', cursive;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
}